<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
  <link 
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" 
    rel="stylesheet">
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten utama</a>
  <header class="navbar-container">
      <h1 class="navbarTitle">
        YUMMY DUMMY
      </h1>
      <button id="hamburger" class="hamburger_menu">☰</button>
  </header>
  <nav class="navbar" id="drawer">
      <ul class="navlist">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="#">Favourite</a></li>
        <li class="navitem"><a href="https://www.linkedin.com/in/dimas-agung-prihandoko/">About Us</a></li>
      </ul>
    </nav>

  <div class="hero">
    <div class="heroInner">
      <h2 class="heroTitle">Selamat Datang di Yummy Dummy Resto</h1>
      <p class="heroTagline">Rasakan pengalaman makan makanan dari seluruh dunia</p>
    </div>
  </div>
  <main id="maincontent">
    <h2 class="restoTitle">Pilihan Restoran</h2>
    <div class="container">
      <article class="card" id="card1" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/41" alt="">
        </div>
        <div class="body-card">
          <h3>Bring Your Phone Cafe</h3>
          <h4>Medan</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
            Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
            consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
            Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="card" id="card2" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="">
        </div>
        <div class="body-card">
          <h3>Run The Gun</h3>
          <h4>Bali</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
            Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
            consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
            Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>  
      <article class="card" id="card3" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="">
        </div>
        <div class="body-card">
          <h3>Pangsit Express</h3>
          <h4>Ternate</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
            Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
            consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
            Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>  
      <article class="card" id="card4" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/38" alt="">
        </div>
        <div class="body-card">
          <h3>Ducky Duck</h3>
          <h4>Malang</h4>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and 
            praising pain was born and I will give you a complete account of the system, and 
            expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. 
            No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
            but because those who do not know how to pursue pleasure rationally encounter consequences 
            that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, 
            because it is pain, but because occasionally circumstances occur in which toil and 
            pain can procure him some great pleasure.</p>
        </div>
      </article>
      <article class="card" id="card5" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/40" alt="">
        </div>
        <div class="body-card">
          <h3>Kafein</h3>
          <h4>Bali</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
            imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
            Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
            Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="card" id="card6" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/08" alt="">
        </div>
        <div class="body-card">
          <h3>Makan Mudah</h3>
          <h4>Malang</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
            imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
            Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
            Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="card" id="card7" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/32" alt="">
        </div>
        <div class="body-card">
          <h3>Saya Suka</h3>
          <h4>Surabaya</h4>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
            I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
            the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
            but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
            Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because 
            occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
        </div>
      </article>
      <article class="card" id="card8" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/45" alt="">
        </div>
        <div class="body-card">
          <h3>Gigitan Cepat</h3>
          <h4>Aceh</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
            Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
      </article>
      <article class="card" id="card9" tabindex="0">
        <div class="head-card">
          <img src="https://restaurant-api.dicoding.dev/images/medium/04" alt="">
        </div>
        <div class="body-card">
          <h3>Fairy Cafe</h3>
          <h4>Malang</h4>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born 
            and I will give you a complete account of the system, and expound the actual teachings of the great explorer 
            of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, 
            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences 
            that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, 
            because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
        </div>
      </article>
    </div>
  </section>
  </main>
  <footer>
    <div class="footer">
      <h5>Copyright &copy; 2023 - Yummy Dummy Restaurant</h5>
    </div>
  </footer>
</body>
</html>
